<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="#" />
    <title>心肝寶貝-肝病檢測</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="./js/common.js"></script>

</head>

<body>
    <!--wrapper_box 開始-->
    <div class="wrapper_box">
        <!--topbar 開始-->
        <div class="topbar_box">
            <div class="topbar">
                <h3><i class="bi bi-heart-pulse-fill"></i>&thinsp; <span>心肝寶貝</span></h3>
                <ol>
                    <li>
                        <span class="name">王小明</span>
                    </li>
                    <li><a href="#" title="登出" class="member"><i class="bi bi-person-circle"></i></a></li>
                </ol>
            </div>
        </div>
        <!--topbar 結束-->

        <!--wrapper 開始-->
        <div class="wrapper">

            <!-- menu -->
            <div class="menu btn-group">
                <a href="heart.html" class="btn">心臟病檢測</a>
                <a href="liver.html" class="btn current">肝病檢測(尚未完成)</a>
                <a href="history.html" class="btn">健康歷史追蹤</a>
            </div>

            <!-- area -->
            <div class="area table">

                <h4>輸入參數</h4>
                <!-- 表單 開始 -->
                <form novalidate id="liver">

                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="name" class="form-label">姓名</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="col-md-2">
                            <label for="age" class="form-label">年齡 age</label>
                            <input type="number" class="form-control" id="age" v-model="age" min="20" max="80" placeholder="20-80" required>
                        </div>

                        <div class="col-md-2">
                            <label for="sex" class="form-label">性別 sex</label>
                            <select class="form-select" id="sex" v-model="sex" required>
                                <option value="" disabled selected>選擇性別</option>
                                <option value="0">女</option>
                                <option value="1">男</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label for="height" class="form-label">身高 height</label>
                            <input type="number" class="form-control" id="height" min="100" max="200" placeholder="100-200" required>
                            <small class="form-text text-muted">單位:公分</small>
                        </div>

                        <div class="col-md-2">
                            <label for="weight" class="form-label">體重 weight</label>
                            <input type="number" class="form-control" id="weight" required>
                        </div>

                        <div class="col-md-3">
                            <label for="bmi" class="form-label">BMI(自動產生)</label>
                            <input type="text" class="form-control" id="bmi" readonly>
                        </div>
                        
                        
                        <div class="col-md-5">
                            <label for="AlcoholConsumption" class="form-label">酒精攝取量 AlcoholConsumption</label>
                            <select class="form-select" id="AlcoholConsumption" required>
                                <option value="" disabled selected>選擇酒精攝取量</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                            </select>
                            <small class="form-text text-muted">每週 / 每單位等於10公克純酒精</small>
                        </div>

                        <div class="col-md-3">
                            <label for="fbs" class="form-label">吸菸狀態 Smoking</label>
                            <select class="form-select" id="Smoking" required>
                                <option value="0">不吸菸</option>
                                <option value="1">吸菸</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="restecg" class="form-label">遺傳風險 GeneticRisk</label>
                            <select class="form-select" id="GeneticRisk" required>
                                <option value="0">低</option>
                                <option value="1">中</option>
                                <option value="2">高</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="PhysicalActivity" class="form-label">運動量 PhysicalActivity</label>
                            <select class="form-select" id="PhysicalActivity" required>
                                <option value="" disabled selected>是否每週運動量大於三小時</option>
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>


                        <div class="col-md-3">
                            <label for="exang" class="form-label">糖尿病狀態 Diabetes</label>
                            <select class="form-select" id="Diabetes" required>
                                <option value="0">有</option>
                                <option value="1">無</option>
                            </select>
                        </div>


                        <div class="col-md-3">
                            <label for="Hypertension" class="form-label">高血壓狀態 Hypertension</label>
                            <select class="form-select" id="Hypertension" required>
                                <option value="0">有</option>
                                <option value="1">無</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary my-4 me-3">開始計算</button>
                    <button type="button" class="btn btn-secondary my-4 me-3" id="resetButton">重置</button>
                    <button type="button" class="btn btn-success my-4" id="saveReportButton">儲存報告</button>
                </form>
                <!-- 表單 結束 -->

            </div>
            <!-- 客服按鈕 -->
            <div id="chat-icon">
                <img src="./images/service.png" alt="">
            </div>
            <!-- 聊天室容器 -->
            <div id="chat-container">
                <div id="chat-header">
                    <span>線上保健室</span>
                    <button id="close-chat">✖</button>
                </div>
                <iframe id="chat-iframe" src="https://ml-predict-api-406220573568.asia-east1.run.app/widgets/chat/?padding=0"
                    frameborder="0"></iframe>
            </div>
        </div>


    </div>
    <!--wrapper 結束-->



    <!--footer 開始-->
    <div class="footer">
        <address>© AI數據應用人才養成班_Group 1</address>
        <address>陳邦彥Byc /游雅婷Emily /劉晏瑜Francis /王偉宇Orot /王佳韻Dorothy /陳葳 Wei</address>
    </div>
    <!--footer 結束-->
    </div>
    <!--wrapper_box 結束-->


</body>

</html>