<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="#" />
    <title>心肝寶貝-肝病檢測</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/common.js"></script>
</head>

<body>
    <!--wrapper_box 開始-->
    <div id="app" class="wrapper_box">
        <!--topbar 開始-->
        <div class="topbar_box">
            <div class="topbar">
                <h3><i class="bi bi-heart-pulse-fill"></i>&thinsp; <span>心肝寶貝</span></h3>
                <ol>
                    <li>
                        <span class="name">王小明</span>
                    </li>
                    <li><a href="#" title="登出" class="member"><i class="bi bi-person-circle"></i></a></li>
                </ol>
            </div>
        </div>
        <!--topbar 結束-->

        <!--wrapper 開始-->
        <div class="wrapper">

            <!-- menu -->
            <div class="menu btn-group">
                <a href="heart.html" class="btn">心臟病檢測</a>
                <a href="liver.html" class="btn current">肝病檢測</a>
                <a href="history.html" class="btn">健康歷史追蹤</a>
            </div>

            <!-- area -->
            <div class="area table">

                <h4>輸入參數</h4>
                <!-- 表單 開始 -->
                <form id="liver" @submit.prevent="calculate">

                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="name" class="form-label">姓名</label>
                            <input type="text" class="form-control" id="name" v-model="form.name" required>
                        </div>
                        <div class="col-md-2">
                            <label for="age" class="form-label">年齡 age</label>
                            <input type="number" class="form-control" id="age" v-model="form.age" min="20" max="80"
                                placeholder="20-80" required>
                        </div>

                        <div class="col-md-2">
                            <label for="sex" class="form-label">性別 sex</label>
                            <select class="form-select" id="sex" v-model="form.sex" required>
                                <option value="" selected>選擇性別</option>
                                <option value="0">女</option>
                                <option value="1">男</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label for="height" class="form-label">身高 height</label>
                            <input type="number" class="form-control" id="height" v-model="form.height" min="100" max="200" placeholder="公分"
                                required>
                        </div>
                        <div class="col-md-2">
                            <label for="weight" class="form-label">體重 weight</label>
                            <input type="number" class="form-control" id="weight" v-model="form.weight" placeholder="斤" required>
                        </div>
                        <div class="col-md-3">
                            <label for="bmi" class="form-label">BMI(自動產生)</label>
                            <input type="text" class="form-control" id="bmi" :value="bmi" readonly>
                        </div>

                        <div class="col-md-4">
                            <label for="AlcoholConsumption" class="form-label">每周飲酒量 AlcoholConsumption</label>
                            <select class="form-select" id="AlcoholConsumption" v-model="form.AlcoholConsumption" required>
                                <option value="" disabled selected>選擇酒精攝取量</option>
                                <option value="0">完全不喝</option>
                                <option value="1">1 </option>
                                <option value="2">2 </option>
                                <option value="3">3 </option>
                                <option value="4">4 </option>
                                <option value="5">5 </option>
                                <option value="6">6 </option>
                                <option value="7">7 </option>
                                <option value="8">8 </option>
                                <option value="9">9 </option>
                                <option value="10">10 </option>
                                <option value="11">11 </option>
                                <option value="12">12 </option>
                                <option value="13">13 </option>
                                <option value="14">14 </option>
                                <option value="15">15 </option>
                                <option value="16">16 </option>
                                <option value="17">17 </option>
                                <option value="18">18 </option>
                            </select>
                            <small class="form-text text-muted"> ※ 一單位=10公克純酒精</small>
                        </div>

                        <div class="col-md-3">
                            <label for="fbs" class="form-label">吸菸狀態 smoking</label>
                            <select class="form-select" id="smoking" v-model="form.smoking" required>
                                <option value="" disabled selected>是否有吸菸</option>
                                <option value="0">不吸菸</option>
                                <option value="1">吸菸</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="restecg" class="form-label">遺傳風險 GeneticRisk</label>
                            <select class="form-select" id="GeneticRisk" required>
                                <option value="" disabled selected>選擇遺傳風險</option>
                                <option value="0">低</option>
                                <option value="1">中</option>
                                <option value="2">高</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label for="PhysicalActivity" class="form-label">運動量 PhysicalActivity</label>
                            <select class="form-select" id="PhysicalActivity" v-model="form.PhysicalActivity" required>
                                <option value="" disabled selected>選擇每周運動量</option>
                                <option value="0">0 小時</option>
                                <option value="1">1 小時</option>
                                <option value="2">2 小時</option>
                                <option value="3">3 小時</option>
                                <option value="4">4 小時</option>
                                <option value="5">5 小時</option>
                                <option value="6">6 小時</option>
                                <option value="7">7 小時</option>
                                <option value="8">8 小時</option>
                                <option value="9">9 小時</option>
                                <option value="10">10 小時</option>
                            </select>
                            <small class="form-text text-muted"> ※ 單位:每週</small>
                        </div>


                        <div class="col-md-3">
                            <label for="Diabetes" class="form-label">糖尿病狀態 Diabetes</label>
                            <select class="form-select" id="Diabetes" v-model="form.Diabetes" required>
                                <option value="" disabled selected>是否有糖尿病</option>
                                <option value="0">無</option>
                                <option value="1">有</option>
                            </select>
                        </div>


                        <div class="col-md-3">
                            <label for="Hypertension" class="form-label">高血壓狀態 Hypertension</label>
                            <select class="form-select" id="Hypertension" v-model="form.Hypertension" required>
                                <option value="" disabled selected>是否有高血壓</option>
                                <option value="0">無</option>
                                <option value="1">有</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary my-4 me-3">開始計算</button>
                    <button type="button" class="btn btn-secondary my-4 me-3" @click="resetForm">重置</button>
                    <button type="button" class="btn btn-success my-4" id="saveReportButton">儲存報告</button>
                </form>
                <!-- 表單 結束 -->
                <!-- 小字備註 -->
                <small class="form-text text-muted text-center">
                    僅供簡易測試，精確數值請至醫療院所檢查
                </small>
            </div>

           
            <div class="area area_results" v-if="showReport">

                <!--info 開始-->
                <div class="info">
                    <div class="report title ">
                        <h3>健康報告 - </h3>
                        <h3 class="name">{{ form.name }}</h3>
                    </div>
                </div>
                <!--info 結束-->

                <!--cp_card_1 開始-->
                <div class="cp_card_1">
                    <!--col_1 開始-->
                    <div class="col_1">
                        <p class="pic">
                            <img :src="target === 0 ? 'images/00.png' : 'images/01.png'">
                        </p>
                        <p>肝病評斷: <span v-if="target === 0">低風險族群</span><span v-else>高風險族群</span></p>
                        <div class="content">
                            <p class="desc" v-if="target === 0">
                                健康生活，肝臟無憂！保持良好習慣，護肝守護未來！
                            </p>
                            <p class="desc" v-else-if="target === 1">
                                肝臟警報！注意肝指數，及早發現才不會讓疾病蔓延！
                            </p>
                            <p class="desc" v-else>
                                健康生活，肝臟無憂！保持良好習慣，護肝守護未來！
                            </p>
                        </div>
                    </div>
                    <!--col_1 結束-->

                    <!--col_2 開始-->
                    <div class="col_2">

                        <div class="health-item" v-if="bmiCategory">
                            <div class="info">
                                <h4 class="title" :class="bmiCategory.style">
                                    <i class="bi bi-diamond-half"></i>BMI檢測
                                </h4>
                                <h4 class="value" :class="bmiCategory.style">{{ bmi }}</h4>
                                <h4 class="value" :class="bmiCategory.style">{{ bmiCategory.category }}</h4>
                                <a href="images/pic06.jpg" target="_blank">衛教圖1 <i class="bi bi-box-arrow-in-up-right"></i></a>
                            </div>
                            <div class="content">
                                <p class="desc">
                                    {{ bmiCategory.description }}
                                </p>
                            </div>
                        </div>

                        <div class="health-item" v-if="form.sex && form.AlcoholConsumption">
                            <div class="info">
                                <h4 class="title" :class="alcoholStatus.style">
                                    <i class="bi bi-diamond-half"></i> 每周飲酒量
                                </h4>
                                <h4 class="value" :class="alcoholStatus.style">{{ form.AlcoholConsumption }}</h4>
                                <p class="mark" :class="alcoholStatus.style">
                                    {{ form.sex === '1' ? '成年男性：每週 < 14 單位的純酒精' : '成年女性：每週 < 7 單位的純酒精' }} </p>
                                        <a href="images/pic07.jpg" target="_blank">衛教圖1 <i class="bi bi-box-arrow-in-up-right"></i></a>
                            </div>
                            <div class="content">
                                <p class="desc">
                                    {{ alcoholStatus.message }}
                                </p>
                            </div>
                        </div>
                        <div class="health-item" v-if="form.smoking !== ''">
                            <div class="info">
                                <h4 class="title" :class="smokingStatus.style">
                                    <i class="bi bi-diamond-half"></i> 是否抽菸
                                </h4>
                                <h4 class="value" :class="smokingStatus.style">
                                    {{ smokingStatus.valueText }}
                                    <a href="images/pic08.jpg" target="_blank">衛教圖1 <i class="bi bi-box-arrow-in-up-right"></i></a>
                                </h4>
                            </div>
                            <div class="content">
                                <p class="desc">
                                    {{ smokingStatus.message }}
                                </p>
                            </div>
                        </div>


                        <div class="health-item" v-if="form.PhysicalActivity !== ''">
                            <div class="info">
                                <h4 class="title" :class="activityStatus.style">
                                    <i class="bi bi-diamond-half"></i> 運動量
                                </h4>
                                <h4 class="value" :class="activityStatus.style">
                                    {{ activityStatus.valueText }}
                                </h4>
                                <a href="images/pic09.jpg" target="_blank">衛教圖1 <i class="bi bi-box-arrow-in-up-right"></i></a>
                                <p class="mark" :class="activityStatus.style">
                                    每週150分鐘，健康輕鬆擁有！
                                </p>
                            </div>
                            <div class="content">
                                <p class="desc">
                                    {{ activityStatus.message }}
                                </p>
                            </div>
                        </div>

                        <div class="health-item" v-if="diabetesStatus">
                            <div class="info">
                                <h4 class="title" :class="diabetesStatus.style">
                                    <i class="bi bi-diamond-half"></i> 糖尿病狀態
                                </h4>
                                <h4 class="value" :class="diabetesStatus.style">
                                    {{ diabetesStatus.label }}

                                </h4>
                                <a href="images/pic09.jpg" target="_blank">衛教圖1 <i class="bi bi-box-arrow-in-up-right"></i></a>
                                <p class="desc">{{ diabetesStatus.message }}</p>

                            </div>
                            <div class="content" v-if="diabetesStatus.showWarning">
                                <ul>
                                    <li>控制飲食：避免高糖、高碳水化合物食物，均衡攝取蛋白質與健康脂肪。</li>
                                    <li>規律運動：適當運動有助於穩定血糖，提高胰島素敏感性。</li>
                                    <li>定期監測血糖：養成監測血糖的習慣，及早發現異常。</li>
                                </ul>
                            </div>
                        </div>

                        <div class="health-item" v-if="hypertensionStatus">
                            <div class="info">
                                <h4 class="title" :class="hypertensionStatus.style">
                                    <i class="bi bi-diamond-half"></i> 血壓
                                </h4>
                                <h4 class="value" :class="hypertensionStatus.style">
                                    {{ hypertensionStatus.label }}
                                </h4>

                                <p class="mark">{{ hypertensionStatus.mark }}</p>
                                <a href="images/pic10.png" target="_blank">衛教圖1 <i class="bi bi-box-arrow-in-up-right"></i></a>
                            </div>

                            <div class="content">
                                <p class="desc">{{ hypertensionStatus.message }}</p>
                                <ul v-if="hypertensionStatus.showWarning">
                                    <li>遵從醫生建議，定期服用藥物，每天監測血壓。</li>
                                    <li>改善飲食習慣，避免過多的鹽分、油脂和加工食品。</li>
                                    <li>增加運動量，減少壓力，保持心情愉快，維持足夠的睡眠。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--col_2 結束-->
                </div>
                <!--cp_card_1 結束-->
            </div>
        </div>
    </div>
    <!-- 客服按鈕 -->
    <div id="chat-icon">
        <img src="./images/service.png" alt="">
    </div>
    <!-- 聊天室容器 -->
    <div id="chat-container">
        <div id="chat-header">
            <span>線上保健室</span>
            <button id="close-chat">✖</button>
        </div>
        <iframe id="chat-iframe" src="https://ml-predict-api-406220573568.asia-east1.run.app/widgets/chat/?padding=0"
            frameborder="0"></iframe>
    </div>
    </div>


    </div>
    <!--wrapper 結束-->



    <!--footer 開始-->
    <div class="footer">
        <address>© AI數據應用人才養成班_Group 1</address>
        <address>陳邦彥Byc /游雅婷Emily /劉晏瑜Francis /王偉宇Orot /王佳韻Dorothy /陳葳 Wei</address>
    </div>
    <!--footer 結束-->
    </div>
    <!--wrapper_box 結束-->

    <script>
                const { createApp, ref, computed } = Vue;

        createApp({
            setup() {
                const form = ref({
                    name: '',
                    age: '',
                    sex: '',
                    height: '',
                    weight: '',
                    AlcoholConsumption: '',
                    smoking: '',
                    GeneticRisk: '',
                    PhysicalActivity: '',
                    Diabetes: '', // 0: 無, 1: 有
                    Hypertension: '', // 0: 無, 1: 有
                    target: '0' // 0: 低風險, 1: 高風險
                });

                const target = ref(0);
                const showReport = ref(false);

                // 模拟后端回传数据
                // setTimeout(() => {
                //     target.value = 0;
                // }, 2000);


                const bmi = computed(() => {
                    const height = parseFloat(form.value.height) / 100;
                    const weight = parseFloat(form.value.weight);
                    return height > 0 && weight > 0 ? (weight / (height * height)).toFixed(2) : '';
                });

                const bmiCategory = computed(() => {
                    const bmiValue = parseFloat(bmi.value);
                    if (bmiValue < 18.5) return { category: '過輕', description: '補充營養不挑食，健康增重更有勁！', style: 'red' };
                    if (bmiValue < 24.0) return { category: '正常', description: '吃的剛剛好，動得適量，健康體態最理想！' };
                    if (bmiValue < 27.0) return { category: '過重', description: '少油少糖多運動，健康體態動起來！', style: 'orange' };
                    return { category: '肥胖', description: '飲食控制搭配運動，健康生活就從今天開始！', style: 'red' };
                });

                const alcoholStatus = computed(() => {
                    const alcohol = parseInt(form.value.AlcoholConsumption, 10);
                    const isMale = form.value.sex === '1';
                    const isFemale = form.value.sex === '0';
                    if (isNaN(alcohol)) return { message: '請選擇飲酒量' };
                    if (isMale) return alcohol > 14 ? { message: '貪杯過量，後患無窮！', style: 'red' } : { message: '適量飲酒，微醺剛好！' };
                    if (isFemale) return alcohol > 7 ? { message: '貪杯過量，後患無窮！', style: 'red' } : { message: '適量飲酒，微醺剛好！' };
                    return { message: '請選擇性別', style: 'gray' };
                });

                const smokingStatus = computed(() => {
                    if (form.value.smoking === '') return { message: '請選擇是否吸菸', style: 'gray' };
                    return form.value.smoking === '1'
                        ? { message: '戒菸一小步，健康一大步！', style: 'red' }
                        : { message: '讓呼吸更輕鬆，讓未來更美好！' };
                });

                const activityStatus = computed(() => {
                    const hours = Number(form.value.PhysicalActivity);
                    if (form.value.PhysicalActivity === '') return { message: '請選擇每週運動量' };
                    return hours < 3
                        ? { message: '久坐傷身，動起來才青春！', style: 'red' }
                        : { message: '健康從每一次的運動開始，快樂源自於身體的活力！' };
                });

                const diabetesStatus = computed(() => {
                    if (form.value.Diabetes === "0") return { label: "無", message: "保持健康生活型態，少糖少油多蔬果，穩定血糖不發愁！" };
                    if (form.value.Diabetes === "1") return { label: "有", message: "建議進一步追蹤，及早控制能降低併發症的發生機率。", style: "red" };
                    return { message: "請選擇糖尿病狀態" };
                });

                const hypertensionStatus = computed(() => {
                    if (form.value.Hypertension === "0") return { label: "無", message: "保持良好飲食和運動，擁抱健康血壓！", mark: "血壓正常：< 120/80 mmHg" };
                    if (form.value.Hypertension === "1") return { label: "有", message: "高血壓不可忽視，及早就醫控制，守護心腦健康！", mark: "高血壓：130/80 ~ 139/89 mmHg", style: "red" };
                    return { message: "請選擇高血壓狀態" };
                });

                const calculate = () => {

                    showReport.value = true;
                };

                const resetForm = () => {
                    form.value = {
                        name: '',
                        age: '',
                        sex: '',
                        height: '',
                        weight: '',
                        AlcoholConsumption: '',
                        smoking: '',
                        GeneticRisk: '',
                        PhysicalActivity: '',
                        Diabetes: '',
                        Hypertension: '',
                        target: ''
                    };
                    target.value = null;
                    showReport.value = false; // 重置時隱藏結果
                };

                return {
                    form,
                    bmi,
                    bmiCategory,
                    alcoholStatus,
                    smokingStatus,
                    activityStatus,
                    diabetesStatus,
                    hypertensionStatus,
                    calculate,
                    resetForm,
                    target,
                    showReport
                };
            }
        }).mount('#app');
</script>
</body>

</html>